body {
    margin: 0px 0px;
    padding: 0px 0px;
    /* height: 1000px; */
    width: 100%;
    background-image: url('one.jpg');
    background-size: 1550px;
    background-repeat: no-repeat;
    color: aliceblue;
}

header {
    background-color: rgb(31, 31, 31);
    padding: 40px 20px;
}

.left {
    display: inline-block;
    position: absolute;
    left: 10px;
    top: 3px;
}

.right {
    position: absolute;

    display: inline-block;
    right: -55px;
    top: 37px;
    width: 20%;
}

.mid {transition: 0.5s;
    position: fixed;
    bottom: 20px;
    left: 510px;
    border: 3px solid rgb(23, 70, 72);
    border-radius: 10px;
    display: block;
    width: 33%;
    margin: 20px auto;
    background-color: rgb(31, 31, 31);
}

.search {
    display: block;
    width: 27%;
    margin: 0px 570px;
    padding: 0px 70px;
}

#searchbar {transition: 0.5s;
    padding: 3px 52px;
    border: 2px solid rgb(31, 31, 31);
    border-radius: 25px;
    margin: 0px auto;
}

#searchimg {
    filter: invert(100%);
    margin: -6px 7px;
}

#searchbar:hover {
    padding: 3px 70px;
    transition: all 0.5s ease-in-out;
}

.mid:hover {
    padding: 20px 0px;
    transition: all 0.5s ease-in-out;
}

.navbar ul {
    overflow: hidden;
}

.navbar {
    display: inline-block;
}

.navbar li {
    display: inline-block;
}

.navbar li .navelement {transition: 0.5s;
    text-decoration: none;
    color: aliceblue;
    padding: 0px 21px;
    font-family: 'Bebas Neue';
    font-size: 19px;
}

.navbar li .navelement:hover {
    background-color: aliceblue;
    border: 1px;
    padding: 15px 31px;
    border-radius: 25px;
    color: rgb(238, 140, 75);
    transition: all 0.5s ease-in-out;
}

.btn {transition: 0.5s;
    font-size: 16px;
    background-color: rgb(31, 31, 31);
    font-family: 'Bebas Neue';
    color: aliceblue;
    border: 2px solid rgb(23, 70, 72);
    border-radius: 25px;
    padding: 5px 27px;
    cursor: pointer;
}

.btn:hover {
    background-color: white;
    color: rgb(31, 31, 31);
    padding: 5px 40px;
    transition: all 0.5s ease-in-out;
}
.prheading{
    font-size: 250px;
    font-family: 'Bebas neue';
    display: inline-block;
    margin: 70px auto;
    width:70%;
    left: 230px;
    border-radius: 40px;
    height: 350px;
    text-align: center;
    position: absolute;
    border: 2px rgb(23,70,72) solid;
    
}
.secheading{
    font-size: 40px;
    font-family: 'Bebas neue';
    display: inline-block;
    margin: 0px auto;
    width:100%;
    position: absolute;
    top: 430px;
    letter-spacing: 20px;
    text-align: center;

}
.disc{position: absolute;
top: 700px; 
left: 620px;
font-family: 'Bebas Neue';
font-size: 30px;
}